name: CI
on:
  pull_request:
    branches:
      - master

env:
  FOUNDRY_PROFILE: ci

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.17.0
      - name: Install deps
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test

  test_foundry:
    strategy:
      fail-fast: true

    name: Foundry tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Forge build
        run: |
          cd packages/contracts
          forge --version
          forge build --sizes
        id: build

      - name: Run Forge tests
        run: |
          cd packages/contracts
          forge test -vvv
        id: test
